@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  background-color: #11031B;
  font-family: 'Red Hat Display', sans-serif;
  
}

.logo {
  background-color: #ffffff00;
  width: 200px;
  max-width: 50%;


}

.hero {
  width: 45%;
  justify-self: center;
  max-width: 1300px;
  margin-left: 100%;
  
}
.heroimg {
  width: 700px ;
}

a {
  background-color: #ffffff00;
}