@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  background-color: #0D0D0D;
  color: white;
  font-family: 'Manrope', sans-serif;  
}

.logo {
  background-color: #ffffff00;
  width: 200px;
  max-width: 50%;
}

